# U.S. Medical Insurance

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('insurance.csv')

In [9]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
# create the initial variables below
age = df['age']
sex = df['sex']
bmi = df['bmi']
children = df['children']
smoker = df['smoker']
region = df['region']
charges = df['charges']
charges

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [42]:
class PatientInfo:
    def __init__(self, age, sex, bmi, children, smoker, region, charges):
        self.age = age
        self.sex = sex
        self.bmi = bmi
        self.children = children
        self.smoker = smoker
        self.region = region
        self.charges = charges

    def analyze_age(self):
        age_mn = self.age.mean()
        age_mn_rd = np.round(age_mn, 1)
        print("Average patient age:", age_mn_rd)

    def analyze_sex(self):
        males = self.sex.value_counts()[0]
        females = self.sex.value_counts()[1]        
        print("Count for male:", males)
        print("Count for female:", females)

    def unique_regions(self):
        print(self.region.value_counts())
    
    def avg_charges(self):
        charge_mn = self.charges.mean()
        charge_mn_rd = np.round(charge_mn, 2)
        print("Average yearly medical insurance charges:", charge_mn_rd)

In [43]:
patient_info = PatientInfo(age, sex, bmi, children, smoker, region, charges)

In [44]:
patient_info.analyze_age()

Average patient age: 39.2

In [45]:
patient_info.analyze_sex()

Count for male: 676
Count for female: 662

In [46]:
patient_info.unique_regions()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [47]:
patient_info.avg_charges()

Average yearly medical insurance charges: 13270.42